<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="username" name="user">
        <br><br>
        <textarea name="content" id="" placeholder="Write something about you"></textarea>
        <br>
        <input type="submit">
    </form>
</body>
</html>