<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <style>
        body{
            display: flex;
            justify-content: center;
        }
        .container{
            margin-top: 20%;
        }
        h1{
            color: white;
            display:inline;
        }
        body{
            background-color: rgb(61, 49, 49);
        }
        button{
            background-color: yellow;
            width:100px;
            height: 50px;
        }
        form{
            margin: 50px 50px;
            display:inline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Postgram :- </h1>
    <form action="/posts"><button>See posts</button></form>
    </div>
</body>
</html>