<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/style.css">
    
    
</head>
<body>
    <div class="post">
        <h2>Id :  <span><%=post.id%></span></h2>
        <h2 class="use">User : @<%= post.user%></h2>
        <p> About : <%=post.content%></p>
    </div>
</body>
</html>