.post{
    background-color: blanchedalmond;
    color: maroon;
}
.user{
    font-style: italic;
}
button{
    border: 2px solid red;
    border-radius: 15%;
    margin: 5px;
}
form{
    display: inline;
}